@charset "UTF-8";

:root {
--cor0:#214F8F;
--cor1:#2F6BC3;
--cor2:#E8E1BE;
--cor3:#8DCBEE;
--cor4:#4697F2;
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: var(--cor2);
}
p{
    margin: 15px 5px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em; 
    font-size: 1em;
}

header{
    background-image: linear-gradient(to right, var(--cor1),var(--cor3));
    min-height: 150px;
    text-align: center;
    padding-top: 20px;
}
header > h1{
color: white;
margin-top: 10px;
font-size: 3em;
text-shadow: 3px 3px 9px rgba(0, 0, 0, 0.468);
}

main{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    background-color:white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    box-shadow: 0px 0px 10px black; /* sombra*/
    border-radius: 10px;
}
main >article> h1 , h2 ,h3 {
    text-indent: 10px;
}
nav{
    background-color: var(--cor1);
    padding: 10px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.511);   
}
nav > a {
    color: white;
    padding: 10px;
    text-decoration:none;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: 1s;
}
nav > a:hover{
    background-color: var(--cor0);
}
ul{
    
    list-style-position:inside ;
    margin: 15px 0px;
    text-indent: 30px;
    line-height: 2em; 
    font-size: 1em;

}
div.video{
    background-color: var(--cor3);
    border-radius: 5px;
    margin-bottom: 30px;
    padding-bottom: 58%;
    position: relative;
}
div.video >iframe{
    position: absolute;
    top: 1%;
    left: 1%;
    width: 98%;
    height: 98%;
}
footer{
    background-color: var(--cor4);
}
footer>p{
 text-align: center;
}
main img {
    width: 30%;
    display: block;
    margin: auto;
    padding: 20px;
}

main > article> h1{
    padding-top: 20px;
}