@charset "UTF-8";

main{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    background-color: white;
    margin: auto;
}
header{
    background-color: #086CB4;
    width: 400px;
    }